In [3]:
#hackerrank opares e impares

#!/bin/python3

import sys


N = int(input().strip())
if N % 2 == 1 or N >= 6 and N <= 20:
    print("Weird")
elif N >= 2 and N <= 5 or N >= 20:
    print("Not Weird")

222
Not Weird

In [4]:
#Encontrar o elemento de valor 10 na lista [1, 2, 10, 5, 20]
#e retornar a posição em que ele foi encontrado
lista = [1, 2, 10, 5, 20]
valor = 10
pos = -1
for i in range(len(lista)-1,-1,-1):
     if lista[i] == valor:
         pos = i
print(pos)

2

In [5]:
lista = [1, 2, 3, 4]
#remove a segunda posicao - lembre que comeca na 0
lista.pop(2)
print(lista)
print (lista[2])

[1, 2, 4]
4

In [6]:
lista = [1, 4, 5, 6, 4, 7]
lista.remove(4)
print(lista)

[1, 5, 6, 4, 7]

In [9]:
#crie uma funçao chamada quadrado para calcular o quadrado
def quadrado(x):
    quadrado = x*x
    return (quadrado)
quadrado(9)

81

In [10]:
def cubo(x):
    return x ** 3
cubo(3)

27

In [11]:
type (cubo)

function

In [12]:
#faz função lambda para calcular quadrado
lambda x: x ** 2

In [13]:
quadrado (5)

25

In [14]:
#Quadrado de 5 usando funcao lambda
#faz função lambda para calcular quadrado
(lambda x: x ** 2)(5)

25

In [15]:
#chamando a funçäo lambda de minha_funcao
minha_funcao = lambda x: x ** 2
minha_funcao(6)

36

In [1]:
lista = [1, 2, 10, 5, 20]
pos = lista.index(10)
print(pos)

2

In [2]:
#Quando o elemento procurado não está na lista, o
#método index lança uma exceção
lista = [1, 2, 3, 4]
lista.index(7)

ValueError: 7 is not in list

In [3]:
lista = [1, 2, 3, 4]
resultado = 7 in lista
print(resultado)

False

In [4]:
resultado = 3 in lista
print(resultado)

True

In [5]:
lista = [10, 9, 8, 7, 5, 3, 4, 3, 1, 2, 11]
lista.sort()
print(lista)

[1, 2, 3, 3, 4, 5, 7, 8, 9, 10, 11]

In [6]:
lista = [1, 3, 2, 4]
lista.reverse()
print(lista)

[4, 2, 3, 1]

In [10]:
lista = ['a', 'b', 'c', 'd', 'e']
lista[2:]

['c', 'd', 'e']

In [11]:
lista [:3]

['a', 'b', 'c']

In [12]:
lista[:0]

[]

In [14]:
lista[1:3] 
lista[1:-1]

['b', 'c', 'd']

In [15]:
lista = [1,2,3,4,5]
lista[1:3] = ['a', 'b'] 
lista

[1, 'a', 'b', 4, 5]

In [ ]:
import pandas as pd

In [2]:
import os
#note que as barras aqui embaixo são para a direita
os.chdir("C:/Users/gustavo/Downloads/taxigov-users-geral-2021-09")
#df  =  pd.read_csv('tipo1.csv', parse_dates=['lanData'])
#df  =  pd.read_csv('tipo1.csv', parse_dates= ['lanData'],encoding='utf-8-sig', usecols= ['lanData', 'lanCod'],)
#df  =  pd.read_csv('taxigov_users-geral.csv', parse_dates= ['lanData'],encoding='utf-8-sig')
df  =  pd.read_csv('taxigov_users-geral.csv',encoding='utf-8-sig')
df.head()

,id_TaxiGov,Nome_Passageiro,mascarado,km_total,Valor_Corridas,Quantidade Corridas
0,TAXIGOV_DF,NaN,***.297.371-**,1.5,5.8,1
1,TAXIGOV_DF,NaN,***.364.166-**,112.0,324.8,2
2,TAXIGOV_DF,NaN,***.497.901-**,1.1,5.8,1
3,TAXIGOV_DF,NaN,***.589.103-**,15.0,58.0,1
4,TAXIGOV_DF,NaN,***.282.401-**,15.0,58.0,1