In [2]:
import pandas as pd
import numpy as np
import sklearn

## Introdução ao Preprocessamento

# Importando csv gerados pelo quartzo

In [1]:
import os
os.chdir("D:/DEV/MINISTERIO/LANCES/tipo1")
#df  =  pd.read_csv('tipo1.csv', parse_dates=['lanData'])
#df  =  pd.read_csv('tipo1.csv', parse_dates= ['lanData'],encoding='utf-8-sig', usecols= ['lanData', 'lanCod'],)
df  =  pd.read_csv('tipo1.csv', parse_dates= ['lanData'],encoding='utf-8-sig')

FileNotFoundError: [Errno 2] No such file or directory: 'D:/DEV/MINISTERIO/LANCES/tipo1'

# Alguns erros abrindo arquivos

In [2]:

#erro
pandas UnicodeDecodeError: 'utf-8' codec can't decode byte 0xed in position 7: invalid continuation byte

#solucao
df = pd.read_csv('file_name.csv', engine='python')

SyntaxError: invalid syntax (<ipython-input-2-1b5b8673c8e5>, line 3)

In [3]:
#erro
SyntaxError: can't assign to operator

#solucao
o pd.read_csv atribuia a uma variavel com hifen no nome, python nao aceita hifen no nome da variável

SyntaxError: EOL while scanning string literal (<ipython-input-3-04d1f5bb3b0e>, line 2)

# Colando CSVs de um diretorio em um só csv
## arquivos com mesma estrutura que vao ser concatenados em um só

In [ ]:
import os
import glob
import pandas as pd

## CRIANDO ARQUIVO TIPO 1
os.chdir("D:/DEV/MINISTERIO/LANCES/tipo1")
extension = 'csv'
all_filenames = [i for i in glob.glob('*.{}'.format(extension))]
#combine all files in the list
combined_csv = pd.concat([pd.read_csv(f) for f in all_filenames ])
#export to csv
combined_csv.to_csv( "tipo1.csv", index=False, encoding='utf-8-sig')

#em seguida abre o csv
os.chdir("D:/DEV/MINISTERIO/LANCES/tipo1")
df  =  pd.read_csv('tipo1.csv', parse_dates=['lanData'])

## CRIANDO ARQUIVO TIPO 3
#os.chdir("D:/DEV/MINISTERIO/LANCES/tipo3")
#extension = 'csv'
#all_filenames = [i for i in glob.glob('*.{}'.format(extension))]
##combine all files in the list
#combined_csv = pd.concat([pd.read_csv(f) for f in all_filenames ])
##export to csv
#combined_csv.to_csv( "tipo3.csv", index=False, encoding='utf-8-sig')

# Abrindo arquivo csv com codificação desconhecida (erro utf8)

In [ ]:
import chardet
with open('Dados/LANCES_FORN_PREGAO_ABERTO.csv', 'rb') as f:
    result = chardet.detect(f.read())  # or readline if the file is large

lances_fornecedor_pregao_aberto  =  pd.read_csv('Dados/LANCES_FORN_PREGAO_ABERTO.csv', encoding=result['encoding'])

# Descobrindo a codificacao

In [ ]:
# Vou inspecionar para tentar achar a codificacao
file = 'DADOS_BRUTOS/consolidado.csv'
import chardet
with open(file, 'rb') as rawdata:
    result = chardet.detect(rawdata.read(100000))
result

# Abrindo arquivo csv com separador tab (sem isto ele junta tudo sem separar as colunas e coloca \t no meio do texto)

In [9]:
dados = pd.read_csv("../MARIO FILHO/seriestemporaisyt-master/2004-2019.tsv", sep = '\t')

In [10]:
dados.head(4)

,Unnamed: 0,DATA INICIAL,DATA FINAL,REGIÃO,ESTADO,PRODUTO,NÚMERO DE POSTOS PESQUISADOS,UNIDADE DE MEDIDA,PREÇO MÉDIO REVENDA,DESVIO PADRÃO REVENDA,...,PREÇO MÁXIMO REVENDA,MARGEM MÉDIA REVENDA,COEF DE VARIAÇÃO REVENDA,PREÇO MÉDIO DISTRIBUIÇÃO,DESVIO PADRÃO DISTRIBUIÇÃO,PREÇO MÍNIMO DISTRIBUIÇÃO,PREÇO MÁXIMO DISTRIBUIÇÃO,COEF DE VARIAÇÃO DISTRIBUIÇÃO,MÊS,ANO
0,0,2004-05-09,2004-05-15,CENTRO OESTE,DISTRITO FEDERAL,ETANOL HIDRATADO,127,R$/l,1.288,0.016,...,1.350,0.463,0.012,0.825,0.11,0.4201,0.9666,0.133,5,2004
1,1,2004-05-09,2004-05-15,CENTRO OESTE,GOIAS,ETANOL HIDRATADO,387,R$/l,1.162,0.114,...,1.449,0.399,0.098,0.763,0.088,0.5013,1.05,0.115,5,2004
2,2,2004-05-09,2004-05-15,CENTRO OESTE,MATO GROSSO,ETANOL HIDRATADO,192,R$/l,1.389,0.097,...,1.760,0.419,0.070,0.97,0.095,0.5614,1.161,0.098,5,2004
3,3,2004-05-09,2004-05-15,CENTRO OESTE,MATO GROSSO DO SUL,ETANOL HIDRATADO,162,R$/l,1.262,0.070,...,1.509,0.432,0.055,0.83,0.119,0.5991,1.22242,0.143,5,2004

# Para exibir todas as colunas do dataframe

In [1]:
# Para exibir todas as colunas do dataframe
pd.pandas.set_option('display.max_columns', None)

NameError: name 'pd' is not defined