In [9]:
import numpy as np
import pandas as pd
df = pd.DataFrame({ 'product': ['A','B','C','D'],

                 'price': ['1',np.NaN,1,np.NaN], 
                 'teste': ['1',1,1,np.NaN], 

                'sales': ['20',np.NaN,'60',np.NaN] 

                })

In [10]:
print(df)

  product price teste sales
0       A     1     1    20
1       B   NaN     1   NaN
2       C     1     1    60
3       D   NaN   NaN   NaN

In [23]:
#df[df[["price","teste"]].isna()]
#df["price"].isna()
#df.loc[df[["price","teste"]].notnull()]
df = df.dropna(subset=['price', 'teste'], how='all')

In [24]:
print(df)

  product price teste sales
0       A     1     1    20
1       B   NaN     1   NaN
2       C     1     1    60

In [26]:
def SQL_CREATE_STATEMENT_FROM_DATAFRAME(SOURCE, TARGET):

# SQL_CREATE_STATEMENT_FROM_DATAFRAME(SOURCE, TARGET)
# SOURCE: source dataframe
# TARGET: target table to be created in database

    import pandas as pd
    sql_text = pd.io.sql.get_schema(SOURCE.reset_index(), TARGET)   
    return sql_text

In [27]:
SQL_CREATE_STATEMENT_FROM_DATAFRAME(df,'tabela')

'CREATE TABLE "tabela" (\n"index" INTEGER,\n  "product" TEXT,\n  "price" TEXT,\n  "teste" TEXT,\n  "sales" TEXT\n)'

In [31]:
from math import fabs
fabs(2)

2.0

##